/*Definindo estrutura do site*/

main{
    width: 90vw;
    margin: 0vh 5vw;
}

section{
    margin: 1.5rem 0rem;
}

hr{
    border: 2px solid var(--laranja);
    width: 100%;
    border-radius: 2px;
}

/*Definindo fonte do site*/

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--cinza);
}

h1, h2, h3{
    line-height: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin: 1.5rem 0rem;
    text-align: center;
}

h1{
    font-size: 40px; 
    color: var(--laranja);
}
h2{
    font-size: 32px;
    color: var( --laranja);
}
.h2-branco{
    color: var(--branco );
}
h3{
    font-size: 24px;
    color: var(--azul);
}

p, a, li, label, .btn{
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 1rem 0rem; 
    color: var(--preto);
}

a{
    color: var(--azul);
    text-decoration: none;
    font-weight: 700;
}

.p-branco{
    color: var(--branco);
}

/*Definindo imagens do site*/

img{
    width: 100%; 
}

.img--borda{
    margin: 5px 5px 0px 0px;
} 

/*Definindo botões do site*/

.btn{
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    color: var(--branco);
    background-color: var(--azul);
    margin: 10%;
    font-size: 16px;
    font-weight: 700;
}

/*Definindo os formulários*/

form{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: var(--bege);
    border-radius: 5px;
    margin: 1rem 0rem;
}

label{
    color: var(--laranja );
    font-weight: 700;
}

input, textarea{
    padding: 1rem;
    border: 2px solid var(--azul);
    border-radius: 5px;
    font-size: 16px;
    color: var(--azul);
}

.a--form{
    text-align: center;
}