/*Aplicando reset no estilo*/

@import url(reset.css);

/*Aplicando variáveis de estilo*/

@import url(variaveis.css);

/*Aplicando Google Fonts*/

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);

/*Aplicando a base do estilo*/

@import url(base.css);

/*Aplicando estilo do cabeçalho*/

@import url(cabecalho/cabecalho.css);

/*Aplicando estilo do rodapé*/

@import url(rodape/rodape.css);
@import url(rodape/rodape__lista.css);
@import url(rodape/rodape__copyright.css);

/*Aplicando estilo do cartão de novidades*/

@import url(cartaoNovidades/cartaoNovidades.css);
@import url(cartaoNovidades/cartaoNovidades__imagem.css);
@import url(cartaoNovidades/cartaoNovidades__texto.css);
@import url(cartaoNovidades/cartaoNovidades__interacao.css);

/*Aplicando estilo do cartão de catalogos*/

@import url(cartaoCatalogo/cartaoCatalogo.css);
@import url(cartaoCatalogo/cartaoCatalogo__icone.css);
@import url(cartaoCatalogo/cartaoCatalogo__texto.css);